.Allquize-data{
    padding: 0% 5%;
    
}
.img{
    
}
.hrader-cart{
    border: none;
    padding: 0% 5%;

}
@media screen and (width:576px) {
  .Allquize-data{
    width: 100%;
    padding:0%;
  }
}
 