.Allquize-data{
    display: grid !important;
    grid-template-columns: repeat(4,1fr) !important;
    gap:20px;
    padding: 0% 5%;
    
}
.img{
    
}
.hrader-cart{
    border: none;
    padding: 0% 5%;

}
 @media screen {
    
 }