 
.new-side{
    padding:0% 5% !important;
}
.nav-bar li a{
    text-decoration: none;
    padding: 10px;
    color: white;
 }
 .brand-color{
    color: tomato !important;
 }
 .bg-gray{
    background:gray;
 }